

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
/* header start */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#009e5f;
    position: fixed;
    width: 100%;
    height: 3.7vw;
    z-index: 999;
}


.header .navbar ul{
    display: flex;
    gap: 20px;
    right: 20px;
    list-style: none;
    margin-right: 20px;
}

.header .navbar a{ 
    text-decoration: none;
}

.images img{
    position: absolute;
    top:10%;
    height: 7vw;
    left: 2%;

}


/* header end */


/* body start */

.main{

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 3.5rem;
    position: relative;
    justify-content: center;
    z-index: 1;
    background-color: #fff;
}

.text-part{
    height: 100%;
    width: 30vw;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.video-part{
    height: 100%;
    width: 70vw;
}

#video{
    width: 100%;
    height: 100%;
}

.text-part-2{
    height: fit-content;
    width: fit-content;
    display: inline-block;
    border: 2px solid #009e5f ;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
   
}
.text-part:hover #exp{ 
    color: #fff;
}

.text-part-2 h2{
    margin: 5px;
    position: relative;
    z-index: 2;
}

.exp-2{
   position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #009e5f;
    left: -100%;
    z-index: 1;
    
}

.text-part:hover .exp-2{

    left: 0%;
    transition: all 0.7s ease;
}

/* body end */

#ice {
    width: 400px;
    height: 400px;
}
#link {
    color:#fff;
    font-weight: 700;
}
.text-part>h2{
    font-size: 2vw;
    color:seagreen;
    font-weight: 700;
}
.next-part{
    width: 100%;
    height: 100vh;
    background: url("images/7up-simple-banner.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index:  3;
}
#text{
    padding-top: 15vw;
    padding-left: 5vw;
}
#text h1{
    color:#fff;
    font-size: 4vw;
    padding-bottom: 1.5vw;
}

#text p{
    color:#fff;
    font-size: 1.5vw;
}
.next-part-text-2{
    height: fit-content;
    width: fit-content;
    display: inline-block;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 5vw;
    padding: 0.5vw 0vw;
}

.next-part-text-2 h2{
    margin: 5px;
    position: relative;
    z-index: 2;
    color: #009e5f;
}
.next-part-exp-2{
    width: 100%;
    height: 100%;
    background-color: #009e5f;
    position: absolute;
    top: 0;
    left: -100%;
}
.next-part-text-2:hover .next-part-exp-2{
    transition: all 0.5s ease;
    left: 0;
}
.next-part-text-2:hover #next-part-exp{
    color: #fff;
}
.mocktail{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: relative;
}
.mocktail>img{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
.mock{
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 2;
}
.mock{
    height: 200vh;
    width: 100vw;
    position: relative;
    z-index: 3;
}
#first-img{
    position: sticky;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    top: 0;
}
#second-img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 3;
}
.mocktail button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FE5887;
    color: #fff;
    font-size: 3vw;
    font-weight: 700;
    padding: 1.5vw 2vw;
    border: none;
    cursor: pointer;
    z-index: 5;
}
.mocktail button:hover{
    font-size: 2.7vw;
    transition: all 0.5s ease;
}
#btn{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #6BA13F;
    color: #fff;
    font-size: 3vw;
    font-weight: 700;
    padding: 1.5vw 2vw;
    border: none;
    cursor: pointer;
    z-index: 5;
}
#btn:hover{
    font-size: 2.7vw;
    transition: all 0.5s ease;
}
#btn1{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #C064AC;
    color: #fff;
    font-size: 3vw;
    font-weight: 700;
    padding: 1.5vw 2vw;
    border: none;
    cursor: pointer;
    z-index: 5;
}
#btn1:hover{
    font-size: 2.7vw;
    transition: all 0.5s ease;
}
#footer{
    background: url("https://www.7up.com/images/footer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 3;
}
#footer>img{
    position: absolute;
    right: 15%;
    height: 23vw;
    width: 30vw;
    top: 20%;
}
#footer-part{
    height: 20vh;
    width: 80vw;
    background: #ffffffcc;
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#link-text{
    display: flex;
    gap: 2vw;
    margin-bottom: 1.5vw;
    margin-top: 1.5vw;
}
#link-text span{
    font-size: 1vw;
    color: gray;
}
#link-down{
    font-size: 1vw;
    color: gray;
}
#icon{
    display: flex;
    gap: 1.5vw;
    justify-content: center;
    font-weight: 500;
    font-size: 25px;
}